@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body{
    font-family: 'Nunito';
}
.alert-success1 {
    color: #fff !important;
    background-color: #f96332 !important;
    border-color: #f96332 !important;
}

.btn-success {
    color: #fff;
    background-color: #f96332;
    border-color: #f96332;
}

.btn-success:hover {
    color: #fff;
    background-color: #f96332;
    border-color: #f96332;
}
.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #f96332;
    border-color: #583327;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #f96332;
    border-color: #f96332;
}

.btn-success,.btn-success:hover,.btn-success:active,.btn-success:visited {
    color: #fff !important;
    background-color: #F96332 !important;
    border-color: #F96332 !important;
} 

.footer {
    background-color: #0d2747 !important;
}

.alert {
    padding: 5px;
    font-size: 15px;
}

.alert-warning {
    color: #3a5f8c;
    background-color: #d8e9fd;
    border-color: #bcd8fd;
}
.alert-success {
    /*color: #73483a;
    background-color: #f1ded7;
    border-color: #e6ccc4;*/
    color: #38546f;
    background-color: #8395A7;
    border-color: #e6ccc4;
}

.navbar-default .navbar-toggle:hover {
    background-color: #0d2747;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    min-height:125%;
    margin-left: -250px;
    overflow-y: auto;
    /*    background: #0D2747;*/
    background: #fff;
    /*    background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 5px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    padding-left: 4%;
    padding-right: 4%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #0D2747;
    /*    color: #999999;*/
    border-radius: 30px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #F96332;
    /*    background: rgba(255,255,255,0.2);*/
    /*    border-left: red 2px solid;*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    /*color: #0d2747;*/
    color: #fff;
    background-color: #F96332;
}

.navbar-default {
    background-color: #0D2747;
    /*    background-color: #F96332;*/
    border-color: #0D2747;
    /*    border-color: #F96332;*/
}
.role{
    color:#fff;
    /*    color:#0d2747;*/
    /*        color:dodgerblue;*/
}
.navbar-default .navbar-toggle {
    border-color: #0D2747;
    /*    border-color: #f96332;*/
}
.navbar-default .navbar-toggle:hover {
/*    background-color: #F96332;*/
}
.navbar {
    min-height:58px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 60px;
        /*        width: 50px;*/
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
    .navbar {
        border-radius: 0px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: #F1F1F1;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
        background-color: #F1F1F1;

    }
}