        .size{
            font-size: 25px;
            margin-top: 6px;
        }
        .table tr:nth-child(even){ background: #e6e8ff;}
        .table tr:nth-child(odd){ background: #dde1e3;}
        #show tr:nth-child(even){ background: rgba(106, 161, 216, 0.6);}
        #show tr:nth-child(odd){ background: rgba(0, 188, 166, 0.55);}

        #show tr:nth-child(1){ background: rgba(0, 0, 0, 0.7); color:#fff;}
        #show tr:nth-last-child(1){ background: rgba(0, 0, 0, 0.7); color:#fff;}
        .table tr:hover{ background: #FCF8E3; }
        .table tr:hover #show{ display: block !important; transition-delay: 1s !important; }
        

        #newposition{
        position: relative;
        }
        #show{position: absolute; right: 20%; min-width: auto; transition-duration:0.5s; border: 1px solid #000;}
        #show th, #show td{ padding: 2px;}
        #showme{margin-right: 10px; display:none;}